{% extends 'cash_layout.html' %}


{% block body %}

 <h1 style="text-align : center;">Search By Customer ID or Account ID</h1>
      <hr>
      <br>
<div class="container">
    <form action="" method="POST">
      <div style="text-align : center;">
        <label for="cid">ENTER CUSTOMER ID:</label>
    <input type="number" id="cid" name="cid" class="search" placeholder="Search" style="text-align : center;">
      </div>
      <br>
      <h4 style="text-align : center;"><b>or</b></h4>
      <br>
      <div style="text-align : center;">
        <label for="accid">ENTER ACCOUNT ID:</label>
    <input type="number" id="accid" name="accid" class="search" placeholder="Search" style="text-align : center;">
      </div>
      <br>
      <br>
      <br>
       <div style="text-align : center;">
      <input type="submit" name="search" class="btn btn-primary" value="View">
       </div>
    </form>
</div>
{% endblock %}
