{% extends 'exec_layout.html' %}     <!--Extended Exec_Layout Template-->

{% block body %}
<div class="container">
<h2>Create Account</h2>
    <hr>
{% from "includes/_formhelpers.html" import render_field %} <!--Included render_field for wtform-->
<form method='POST' action="">       <!--Created a form for registration with post method-->
    <div class="form-group">
        {{render_field(form.cust_ssnid,class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.acc_type,class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.deposit_amt,class_="form-control")}}
    </div>
    <span><input type="submit" class="btn btn-primary" value="Submit"> <!--on submit post the data to the add_customer url-->
    <input type="reset" class="btn btn-primary" value="Reset"></span>
</form>
</div>
{% endblock %}
