{% extends 'exec_layout.html' %}

{% block head %}
    <style>
        .form-group{
            text-align: center;
        }
    </style>
{% endblock %}
<!--Created a form to delete customer-->
{% block body %}
<div class="container">
<h2><center>Delete Customer</center></h2>
    <hr>
{% from "includes/_formhelpers.html" import render_field %} <!--Included render_field for wtform-->
    {% for data in result %}    <!--get the data from result fetched from a db in del_customer url-->
  <br>
    <div class="row">
       <div class="col-sm-4" ><h3 style="text-align:right; font-family:Monaco;"><b>Customer id:</b></h3></div>
      <div class="col-sm-4"> <h3> {{data['cid']}}  </h3></div>
    </div>

    <div class="row">
         <div class="col-sm-4" ><h3 style="text-align:right; font-family:Monaco;"><b>Customer ssnid:</b></h3></div>
      <div class="col-sm-4"> <h3> {{data['cust_ssnid']}}  </h3></div>

    </div>
    <div class="row">
         <div class="col-sm-4" ><h3 style="text-align:right; font-family:Monaco;"><b>Customer Name:</b></h3></div>
      <div class="col-sm-4"> <h3> {{data['cname']}}  </h3></div>
    </div>


    <div class="row">
        <div class="col-sm-4" ><h3 style="text-align:right; font-family:Monaco;"><b>Age :</b></h3></div>
      <div class="col-sm-4"> <h3> {{data['age']}}  </h3></div>
    </div>


    <div class="row">
        <div class="col-sm-4" ><h3 style="text-align:right; font-family:Monaco;"><b>Address :</b></h3></div>
      <div class="col-sm-4"> <h3> {{data['address']}}  </h3></div>
    </div>


    <div class="row">
      <div class="col-sm-4" ><h3 style="text-align:right; font-family:Monaco;"><b>State: :</b></h3></div>
      <div class="col-sm-4"> <h3> {{data['state']}}  </h3></div>
  </div>

    <br>

    <div class="row">
         <div class="col-sm-4" ><h3 style="font-family:Monaco;"><b></b></h3></div>
    <div class="col-sm-4"><form action="{{url_for('del_cust', cid=data.cid)}}" method="POST" class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger"><!--On delete button redirect the url to del_cust with cid to perform delete-->
    </form>
    </div>
    </div>

    {% endfor %}
</div>
{% endblock %}
