<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
  
   text-align: center;
}
</style>
</head>
<body>
<section class="footer" style="color : black;">
    <div class="container-fluid text-center bottom-container">
      <div class="footer-grids" style="width: 130%;">
        <div class="col-md-4 footer-grid1">
          <div class="logo1">
            <h4>About Us</h4>
          </div>
          <p> ABC Bank was founded on 11th June 2020 with the objective of providing with detail services based on Retail Banking operations. The Retail Internet Banking of TCS Bank offers a plethora of products and services, to cater its customer by providing certain animus services with an easy volving offers and ways to the required job without hurdling the process. </p>
          </div>
  
        <div class="col-md-2 footer-grid3">
          <h4>Services</h4>
          <p>Retail and Customer Banking</p>
          <p>Personal Internet Banking</p>
          <p>Corporate Internet Banking</p>
          <p>Debit and Credit Cards</p>
        </div>
  
        <div class="col-md-3 footer-grid4">
          <h4 color=red;>Contact Us</h4>
          <p> Email : customer.service@tcsbank.com</p>
          <p>Contact Numbers : 08594-123456,020-9852136025</p>
          <p>Address : ABC Bank,Madame Cama Road, Mumbai, Maharashtra 400021</p>
        </div>
        
            <div class="agileits_copyright text-center">
                <p>© 2020 ABC Bank. All rights reserved
            </div>
        
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
  
  </body>
  </html>